 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

        :root {
            --primary-orange: rgba(255, 153, 0, 1);
            --dark-blue: #0f172a;
            --text-gray: #64748b;
            --bg-light: #f8fafc;
      --brand-orange: #f8a406;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Manrope', sans-serif;
        }

        body {
            background-color: #ffffff;
            color: #1e293b;
            overflow-x: hidden; 
            width: 100%;
            position: relative;
        
        }

       

      


        /* --- Hero Section __________________________________________________--- */
        .hero {
            position: relative;
            background: linear-gradient(to right, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0.1)), url("./assets/Image.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 130vh;
            display: flex;
            align-items: center;
            color: #fff;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        /* .hero-content {
            max-width: 650px;
        } */

        .hero-content{
            margin-top: 100px;
        }

        .hero-content h1 {
            font-size: clamp(28px, 5vw, 57px);
            /* font-size: 40px; */
            font-weight: 100;
            line-height: 1.1;
            margin-bottom: 20px;
        }

        .hero-content h1 b { font-weight: 600; }

        .hero-content p {
            font-size: 16px;
            line-height: 1.6;
            color: rgba(255,255,255,0.8);
            margin-bottom: 35px;
            max-width: 500px;
        }

        .main-btn-hero {
            width: 160px;
    height: 36px;
    background: rgba(255, 153, 0, 1);
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
            transition: 0.5s ease;
        }
        .text-btn-hero{
             background-color: rgba(255, 255, 255, 1);
    font-size: 14px;
            width: 79%;
        height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(34, 34, 34, 0.9);
    line-height: 16px;
    font-weight: 600;
       }

       .main-btn-hero img{
        margin: 1px;
        transition: 0.5s ease;
        width: 15%;
       }
       .text-btn-hero:hover{
        background-color: rgba(255, 153, 0, 1);
        color: rgb(255, 255, 255,1);
       }
       .main-btn-hero:hover {
        background-color: rgba(255, 153, 0, 1);
       }
        

       
        .main-btn-hero:hover img{
            transform: rotate(45deg);
        }


        .hero-bottom-list {
            margin-top: 250px;
            padding-top: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px 40px;
            list-style: none;
            justify-content: center;
            text-align: center;
            border-top: 1px solid rgba(236, 221, 221, 0.154);
        }

        .hero-bottom-list li {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 13px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.8);

        }
        .hero-bottom-list img{
            width: 18px;
        }

        .hero-bottom-list i { color: var(--primary-orange); }

        /* --- About Section ________________________________________--- */
        .about-section {
            margin-bottom: -98px;
            padding: clamp(60px, 10vw, 120px) 0;
            background-color: #fff;
            overflow: hidden; 
            background-image: url("./assets/about-bg.png");
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 500px 350px;
        }

        .about-wrapper {
            display: flex;
            align-items: center;
            gap: 60px;
            position: relative;
            top: 0;
        }


        .about-images{
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 50%;
        }

        .img-top-about-con{
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: space-between;
        }
        .about-img-top {
            width: 60%;
            height: 230px;
                margin-right: -100px;
        }

        .about-img-top img{
            height: 100%;
            width: 100%;
        }

        .img-bottom-about-con{
            width: 50%;
                height: 385px;
            /* margin-left: 30%; */
            margin-top: -40px;
        }

         .img-bottom-about-con img{
            width: 100%;
            height: 100%;
         }
         .exp-badge{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 33%;
    justify-content: center;
        margin-top: -40px;

}
         
         .exp-badge h3{
            font-size: 45px;
            color: rgba(255, 153, 0, 1);
            text-align: center;
         }
         .exp-badge p{
            font-size: 18px;
            color: rgba(34, 34, 34, 1);
            text-align: center;
            margin-bottom: 0px !important;
         }





        .about-info { width: 50%; position: relative; }

        .tagline {
            display: flex;
            align-items: center;
            gap: 10px;
            color: rgba(34, 34, 34, 1);
            font-size: 13px;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 15px;
        }
        .tagline i{
            color: rgba(255, 153, 0, 1);
        }

        .about-info h2 {
            font-size: clamp(28px, 4vw, 43px);
            line-height: 1.1;
            font-weight: 200;
            color: rgba(34, 34, 34, 1);
            margin-bottom: 25px;
        }

        .about-info h2 b { font-weight: 800; }

        .about-info p {
            color: var(--text-gray);
            font-size: 14px;
            line-height: 1.7;
            margin-bottom: 30px;
        }

        .img-list{
            display: flex;
            flex-direction: row;
            gap: 50px;
            position: relative;
        }

        .features-list {
            display: flex;
             flex-direction: column;
            margin-left: -30px;
            gap: 25px;
            list-style: none;
            /* margin-bottom: 40px; */
        }

        .features-list li {
            display: flex;
            align-items: center;
            gap: 15px;
            font-weight: 700;
            font-size: 12px;
            color: #334155;
        }
        .features-list img{
            width: 18px;
        }

        .features-list i { color: var(--primary-orange); font-size: 10px; }

       about-footer {
            /* padding: 20px; */
            background-color: #ffffff;
        }

        .btn-main {
            display: inline-flex;
            align-items: stretch; 
            text-decoration: none;
            background-color: white;
            border: 1px solid orange;
            border-radius: 10px;
            overflow: hidden; ;
        }

        .btn-main .txt {
            color: var(--text-color);
    font-size: 12px;
    font-weight: 800;
    padding: 6px 6px;
    display: flex;
    /* align-items: center; */
    background-color: white;
    text-align: center;
        }

        .btn-main .icon {
            background-color: var(--primary-orange);
            color: var(--white);
            padding: 10px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--transition);
            border-radius: 5px;
        }

        .btn-main .icon i {
            font-size: 10px;
            color: #ffffff;
        }
       
        .section-container {
      max-width: 420px;
      /* margin: 0 auto; */
      /* margin-top: -100px; */
    }

    /* RATING CARD STYLING */
    .rating-card {
     background-color:rgba(245, 245, 245, 0.9);
    border-radius: 40px;
    padding-top: 60px;
    text-align: center;
    border: none;
        height: 220px;
    width: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .stars {
      color: var(--brand-orange);
      font-size: 20px;
      margin-bottom: 25px;
      letter-spacing: 6px;
          padding-top: 20px;
    }

    .rating-text {
      color: #7d8590;
      font-size: 15px;
      font-weight: 500;
      margin-top: -10px;
    }

        /* .rating-card .stars {
            color: #facc15;
            font-size: 12px;
            
        }

        .stars img{
            transition: transform 0.3s ease;
            width: 250px;
        }
        .stars img:hover {
          transform: scale(1.1);
         } */

        /* ---------------services------------------------------ */

        .service-wraper{
            position: relative;
            background-image: url('./assets/services.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            max-height: 100vh;
            display: flex;
            align-items: center;
            margin-bottom: 212px;
            margin-top: 100px;
            /* padding-top: 180px; */
        }


        .ser-sub-container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;


        }

        .ser-content{
            display: flex;
            align-items: center;
            justify-content:center;
            position: relative;
            top: 60px;

        }

        .ser-heading-section{
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: right;
            position: relative;

        }

        .ser-heading{
            font-size: 20px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }

        .ser-heading h3{
            font-size: 14px;
            letter-spacing: 2px;
        }

        .ser-heading i{
            margin-right: 10px;
            color: #f97316;
        }


        .ser-subheading{
            color: rgba(255, 255, 255, 1);
            letter-spacing: 1px;
            
            font-size: 40px;
            font-weight: 200;
        }

        .ser-subheading span{
            /* font-size: 50px; */
            font-weight: 600;
        }

        .ser-para{
            position: relative;
            top: 15px;
            font-family: Manrope;
            font-size: 14px;
            width: 50%;
            color: rgba(255, 255, 255, 1);
            font-weight: 200;
            line-height: 30px;
            letter-spacing: 0.5px;
        }


       .ser-card {
            background: #fff;
            border-radius: 30px;
            /* margin-top: 200px;  */
            padding: 50px 30px;
            box-shadow: 0 20px 50px rgba(0,0,0,0.1);
            position: relative;
            bottom: -180px;
            z-index: 10;
            /* margin-bottom:50px ; */
        }

        .ser-lists {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0; 
        }

        .list-items {
            text-decoration: none;
            padding: 20px 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* border-right: 1px solid #eee; */
            justify-content: space-evenly;
            transition: transform 0.3s ease;
        }
        
/*_____________________hover effect_______________________  */
        .hover-zoom {
  transition: transform 0.4s ease;
}

.hover-zoom:hover {
  transform: scale(0.9);
   border: 1px solid #eee; 
}


        
  /* border-right: 0px solid #eee; */
  /* background-color: #ff9900; */
/* .list-items:hover { color: var(--primary-orange); } */

        .list-items:last-child {
            border-right: none;
        }

        .list-items .item-icon {
            font-size: 32px;
            color: var(--primary-orange);
            margin-bottom: 30px;
            opacity: 0.9;
        }

        .list-items .item-title {
            color: rgba(34, 34, 34, 1);
            font-size: 14px;
            font-weight: 500;
            line-height: 1.4;
            margin-bottom: 40px;
            min-height: 50px;
        }

        .small-arrow-btn {
            width: 45px;
            height: 35px;
            background-color: rgba(245, 245, 245, 1);
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333;
            transition: 0.3 ease;
        }
        .list-items:hover{
            border: 1px solid rgb(229, 228, 228);
            border-radius: 40px;
        }

        .small-arrow-btn:hover,
        .list-items:hover .small-arrow-btn{
            background-color: rgba(240, 240, 240, 1);
            border: 1px solid rgb(229, 228, 228);
        }

        .list-items:hover .item-title{
            color: rgb(0, 0, 0);
            font-weight: 600;
        }


        /* ______________our story_________________ */

        .story-section{
            position: relative;
            top: 50px;
            margin-bottom: 150px;
        }

        .story-sec1{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        .sec1-left{
            display: flex;
            flex-direction: column;
        }

        .sec1-heading{
            font-size: 20px;
            font-weight: 200;
            color: rgba(34, 34, 34, 1);
        }

        .sec1-heading h3{
            font-size: 14px;
            letter-spacing: 2px;
        }

        .sec1-heading i{
            margin-right: 10px;
            color: #f97316;
        }

        .sec1-subheading{
            color:rgba(34, 34, 34, 1);
            letter-spacing: 1px;
            
            font-size: 30px;
            font-weight: 300;
        }

        .sec1-subheading span{
            font-size: 30px;
            font-weight: 800;
        }
        .sec1-img-con{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            width: 50%;
        }

        .sec1-img1 img{
            width: 100%;
            border-radius: 40px;
        }

        .story-sec2{
            display: flex;
            align-items: center;
            position: relative;
            top: 50px;
        }

        .sec2-img {
            width: 50%;
        }

        .sec2-img img{
            width: 90%;
            border-radius: 40px;
        }
        .sec2-right{
                width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
        }
        .sec2-para{
            position: relative;
            /* top:50px; */
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 1px;
            border-bottom: 1px solid rgb(242, 242, 242);
            padding-bottom: 32px;
            color: rgba(129, 132, 138, 1);
        }
        .sec2-list{
                /* position: relative; */
    /* margin-top: 60px; */
    text-align: left;

        }
        .list-contain{
            display: flex;
    flex-direction: row;
    /* align-items: revert-layer; */
    justify-content: space-between;
    text-align: start;
    margin-left: -27px;
        }
        .list-contain li{
            list-style: none;
        }
        .list-contain li h2{
            font-size: 40px;
            color: rgba(255, 153, 0, 1);
        }
        .list-contain li span{
            position: relative;
            top: 0px;
            color: rgba(34, 34, 34, 1);
            font-size: 15px;
            font-weight: 600;
        }
        .sec2-footer{
            display: flex;
            /* position: relative;
            top: 100px; */
        }
        .sec2-btn{
            position: relative;
        }
        .sec2-btn img{
           width: 150px; 
            
        }
        .sec2-btn2{
           width: 200px; 
        }
          .sec2-btn2 img{
            width: 200px;
          }




/* heading icon */
        .main-head-icon{
            text-align: center;
            margin-right: 5px;
        }


        

        /* ================================== Responsive========================= --- */
 @media (max-width: 1200px) {
    .nav-links { gap: 15px; }
            .about-wrapper { gap: 40px; }   
            /* _____story section_______ */
            .sec1-img1 img {
        width: 220px;
    }

        /* .sec2-img img {
            width: 100%;
        } */

    .sec2-right {
        top: -30px;
        left:60px;
    }

    .list-contain li h2 {
        font-size: 34px;
    }
        }

@media (max-width: 1024px) {
            .nav-links { gap: 15px; }
            .nav-links a { font-size: 14px; }
            .about-wrapper { flex-direction: column;  }
            
            .about-info{
                justify-content: left;
                position: relative;
                top: 50px;
            }
            .tagline { justify-content: start;}
            .features-list { justify-items: start; }
            .about-footer { justify-content: start; }
            .hero-bottom-list { justify-content: start; }
            .exp-badge{
                 top: 50px;
            left: 50px;
            }

            /* ----service___________ */
            .service-wraper {
        max-height: auto;
        padding: 60px 20px;
    }

    .ser-heading-section {
        width: 80%;
    }

    .ser-para {
        width: 80%;
        font-size: 14px;
    }

    .ser-card {
        padding: 40px 20px;
        bottom: -120px;
    }

    /* ______story_________ */
      .story-sec1 {
        flex-direction: row;
        justify-content: space-between;
    }

    .story-sec2 {
        flex-direction: row;
    }

    .sec2-img,
    .sec2-right {
        width: 50%;
    }

    .sec2-right {
        top: -30px;
        margin-right: 44px;
    }

    .sec1-img1 img {
        width: 200px;
    }

    .sec2-para {
        font-size: 14px;
    }
        }

 @media (max-width: 768px) {
            

            .hero { text-align:left; }
            .hero-content {         margin-top: 11px !important;
        padding-top: 215px; }
            .hero-content p {
                font-size: 13px;
        width: 62vw;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 1);
              }
              /* try______ */
              .hero {
        text-align: left;
        min-height: 445px;
        margin: 0;
        padding: 0px;
    }
    .hero-content h1 {
    font-size: clamp(23px, 5vw, 57px);
    margin: 0;
}
        .hero-content {
        padding-top: 100px;
                padding-bottom: 10px;
    }
    .hero-bottom-list {
    margin-top: 0px;
    padding-top: 11px;
}
.hero-bottom-list li {
    font-size: 12px;
}

/* btn try */
.main-btn-hero {
    width: 120px;
    height: 32px;
}
.text-btn-hero {
    font-size: 12px;
            width: 79%;
        height: 94%;
    padding: 2px 0px;
    margin-left: -4px;
}
.hero-bottom-list {
                 flex-direction: column; 
                 /* align-items: center; */
                  gap: 10px; 
                  margin-left: -25px;
                }

            /* about us page _____ */

           
                  .about-images{
                    width: 100%;

                  }
                  .about-img-top {
    width: 60%;
    height: 170px;
}
.img-bottom-about-con img {
    height: 80%;
            object-fit: contain;
}
.img-bottom-about-con {
    width: 60%;
height: 300px;}
.exp-badge {
                        margin-left: 40px;}
    .exp-badge p {
    font-size: 13px;}
.exp-badge h3 {
    font-size: 25px;}
            
                .about-section{
                            padding: 50px 0px;
                }

                .about-wrapper{
                    top:0;
                }

                .img-list{
                    flex-direction: column;
                }

                .about-info{
                    top: -50px;
                    width: 100%;

                }
                

                .about-info h2{
                font-size: 25px;
             }
                .about-info p {
                    position: relative;
                    /* top: -20px; */
                    font-size: 12px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                .tagline{
                    margin-bottom: 2px;
                }
                .about-info h2{
                    margin-bottom: 2px;
                }
        .features-list{
            margin-bottom: 0px;
                    margin-top: 16px;
        }
        .rating-card{
                  margin-right: 10px;
        padding: 5px 5px;
        border: 1px solid black;
        width: 250px;
        height: 233px;
        /* padding-top: 56px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        .stars img{
            width: 243px;
            height: 200px;
        }

        /* __________sewrvices------------------- */

         .ser-content {
        flex-direction: column;
        text-align:left;
        top: 25px;
        margin-top: 250px;
    }

    .ser-heading-section {
        width: 100%;
    }

    .ser-subheading {
        font-size: 24px;
    }

    .ser-subheading span {
        font-size: 24px;
    }

    .ser-para {
        width: 100%;
        text-align: left;
        line-height: 26px;
    }

   .ser-lists {
    /* margin-top: 100px; */
        grid-template-columns: repeat(2, 1fr);
    }

    .list-items {
        border-right: none;
        border-bottom: 1px solid #eee;
        align-items: center;
        text-align: center;
    }

    .ser-card {
        bottom: -80px;
        margin-bottom: 100px;
    }

    /* _____story______________________________________ */
    .story-section{
        top:250px;
        margin-bottom: 350px;
    }
    .story-sec1 {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        /* text-align: left; */
    }
    .sec1-img-con{
         flex-direction: row;
         align-items: flex-start;
                 position: relative;
        /* left: -90px; */
    }
        .sec1-img1 img {
        width: 40vw;
    }

    .story-sec2 {
        /* flex-direction: column; */
        gap: 40px;
    }

    .sec2-img {
        width: 43%;
        text-align: center;
    }
    .sec2-img img{
                width: 128%;
        height: 400px;
    }

    .sec2-right {
        width: 43%;
        /* text-align: center; */
    }

    .sec2-right {
        top: 10px;
        align-items: center;
    }
    .sec2-para{
        font-size: 12px;
    }

    .list-contain {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
        top: -62px;
    }

    .sec2-footer {
        /* justify-content: center; */
        /* flex-wrap: wrap; */
        gap: 0px;
        top: 10px;
    }
    .sec2-btn img{
           width: 100px; 
            
        }
    .sec2-btn2 img{
            width: 150px;
          }



        }

 @media (max-width: 480px) {
            /* .about-images { 
                transform: scale(0.55); 
                height: 350px;
                width: 110%; 
                margin-left: -5%; 
            }

            .img-bottom { left: 185px; }
            .exp-badge {        
                 left: 20px;
                 top: -105px;
                 } */
            .btn-main { 
                width: 50%; 
                justify-content: space-between; 

            }
            .btn-main .txt{
                font-size: 12px;
                padding: 2px 5px;

            }
             .btn-main .icon{
                padding: 8px 14px;
             }
             .btn-main .icon i {
                font-size: 12px;
             }

             /* __________services--------------- */

             .service-wraper {
                padding: 40px 15px;
        margin-bottom: 80px;
        padding-top: 154px;
        max-height: 70vh;
    }

    .ser-heading h3 {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .ser-subheading {
        font-size: 26px;
    }

    .ser-subheading span {
        font-size: 26px;
    }

    .ser-para {
        font-size: 13px;
        line-height: 22px;
    }

    .ser-card {
        padding: 30px 15px;
        border-radius: 20px;
        bottom: -72px;
    }

    .list-items {
        padding: 20px;
    }

    .list-items .item-title {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .small-arrow-btn {
        width: 38px;
        height: 30px;
    }
    /* ____________story________________ */
    .story-section{
        top:290px;
        margin-bottom: 350px;
    }
    .story-sec1 {
        flex-direction: column;
        gap: 40px;
        /* padding-top: 105px; */
        margin-top: -55px;
        /* text-align: center; */
    }
    .sec1-subheading{
        font-size: 25px;
    }
    .sec1-subheading span{
        font-size: 25px;
    }
    .sec1-img-con{
         flex-direction: column;
         align-items: center;
                 position: relative;
        left: 0px;
        top: -25px;
    }
    .sec1-img1 img{
            width: 200%;
            height: 300px;
            border-radius: 30px;
        }

    .story-sec2 {
        flex-direction: column;
        gap: 40px;
        align-items: baseline;
        
        margin-bottom: -80px;
    }

    .sec2-img {
        width: 43%;
        text-align: center;
    }
    .sec2-img img{
                width: 233%;
       border-radius: 30px;
       height: 300px;
       position: relative;
        top: -55px;
    }

    .sec2-right {
               position: relative;
        top: -85px;
        left: 0px;
        width: 100%;
        /* text-align: center; */
    }

    /* .sec2-right {
        top: 10px;
        align-items:baseline;
    } */
    .sec2-para{
        font-size: 12px;
                padding-top: 15px;
    }

    .list-contain {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
        top: -62px;
    }
    .list-contain li{
        background-color: rgb(224, 227, 231);
        padding: 2px;
        border-radius: 5px;
        width: 105px;
        text-align: center;
        margin-top: -50px;
    }
    .list-contain li h2 {
        text-align: center;
        font-size: 22px;
    }
    .list-contain li span{
        font-size: 10px;
    }

    .sec2-footer {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px;
        top: 10px;
        
        margin-top: -100px;
    }
   


             
        }