.inner-pricing-main .client-section{
  margin: 0px;
}

.inner-client-con{
  padding: 100px 0;
}


.inner-client-con .story-sec2 {
    margin-top: 220px;
}

@media (max-width: 768px) {
  .inner-client-con .story-sec2 {
    margin-top: 50px;
}
.inner-client-con{
  padding: 50px 0;
}
.inner-pricing-main .client-section{
  margin-top: 150px;
}
}
